<div class="account-page bg-white">
    <!-- Begin Wrapper -->
    <div class="main-wrapper">

        <div class="overflow-hidden p-3 acc-vh">

            <!-- start row -->
            <div class="row vh-100 w-100 g-0">

                <div class="col-lg-6 vh-100 overflow-y-auto overflow-x-hidden">

                    <!-- start row -->
                    <div class="row">

                        <div class="col-md-10 mx-auto">
                            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()"
                                class=" vh-100 d-flex justify-content-between flex-column p-4 pb-0">
                                <div class="text-center mb-4 auth-logo">
                                    <img src="assets/img/largeLogo.png" class="img-fluid" alt="Logo">
                                </div>
                                <div>
                                    <div class="mb-3">
                                        <h3 class="mb-2">Sign In</h3>
                                        <p class="mb-0">Please sign in using your registered email and passcode to
                                            access the MY PLANET system.</p>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Email Address</label>
                                        <div class="input-group input-group-flat">
                                            <input type="email" class="form-control" formControlName="email" id="email">
                                            <span class="input-group-text">
                                                <i class="ti ti-mail"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Password</label>
                                        <div class="input-group input-group-flat pass-group">
                                            <input [type]="!hidePassword ? 'text' : 'password' " id="password"
                                                formControlName="password" class="pass-input form-control">
                                            <span class="input-group-text toggle-password" (click)="togglePassword()"
                                                tabindex="0"><i class="ti"
                                                    [ngClass]=" hidePassword ? 'ti-eye' : 'ti-eye-off'"></i></span>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center mb-3">
                                        <!-- message container always takes the remaining space -->
                                        <div class="flex-grow-1">
                                            <div class="text-danger" *ngIf="errorMsg()">
                                                {{ errorMsg() }}
                                            </div>
                                            <div class="text-success" *ngIf="successMsg()">
                                                {{ successMsg() }}
                                            </div>
                                        </div>

                                        <!-- this will always sit on the right -->
                                        <div>
                                            <a [routerLink]="routes.forgotPassword"
                                                class="link-danger fw-medium link-hover">
                                                Forgot Password?
                                            </a>
                                        </div>
                                    </div>


                                    <div class="mb-3">
                                        <button type="submit" class="btn btn-primary w-100"
                                            [disabled]="loginForm.invalid">Sign In</button>
                                    </div>
                                </div>
                                <div class="text-center pb-4">
                                    <p class="text-dark mb-0">Copyright &copy; {{ currentYear }} - My Planet</p>
                                </div>
                            </form>
                        </div> <!-- end col -->

                    </div>
                    <!-- end row -->

                </div>

                <div class="col-lg-6 account-bg-01"></div> <!-- end col -->

            </div>
            <!-- end row -->

        </div>

    </div>
    <!-- End Wrapper -->
</div>