:host
  ::ng-deep
  .mat-mdc-select.custom-mat-select:not(.mat-mdc-select-empty)
  > .mat-mdc-select-trigger {
  border: 2px solid #6fac44 !important;
  border-radius: 4px !important;
}

::ng-deep .reportrange-picker .reportrange-picker-field {
  width: 150px !important;
}
.table-headers {
}

:host ::ng-deep .mat-sort-header-container {
  justify-content: center !important;
  gap: 17px !important;
}
// .job-tittle {
//   letter-spacing: 0.005em;
// }
:host ::ng-deep .p-inputwrapper.p-select.p-inputwrapper-filled {
  border: 2px solid #28a745 !important;
  border-radius: 4px !important;
}

// :host ::ng-deep p-select.p-inputwrapper-filled .p-select-label {
//   border: 2px solid #28a745 !important;
//   border-radius: 4px !important;
// }
#appSubmittedCanvas.offcanvas-small,
#deleteUserCanvas.offcanvas-small {
  right: auto !important;
  bottom: auto !important;
  position: fixed;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;

  --bs-offcanvas-width: 320px;
  width: var(--bs-offcanvas-width);
  max-width: 90%;
  height: auto;
  max-height: 90vh;
  overflow-y: auto;
}

#appSubmittedCanvas.show ~ .offcanvas-backdrop,
#deleteUserCanvas.show ~ .offcanvas-backdrop {
  position: fixed;
}

.off-canvas-custom {
  border: 0px solid transparent;
  border-radius: 10px;
}
