:host
  ::ng-deep
  .mat-mdc-select.custom-mat-select:not(.mat-mdc-select-empty)
  > .mat-mdc-select-trigger {
  border: 2px solid #6fac44 !important;
  border-radius: 4px !important;
}

::ng-deep .reportrange-picker .reportrange-picker-field {
  width: 145px !important;
}

// .job-tittle {
//   letter-spacing: 0.005em;
// }
:host ::ng-deep .p-inputwrapper.p-select.p-inputwrapper-filled {
  border: 2px solid #28a745 !important;
  border-radius: 4px !important;
}

// :host ::ng-deep p-select.p-inputwrapper-filled .p-select-label {
//   border: 2px solid #28a745 !important;
//   border-radius: 4px !important;
// }
