# Angular & Node
node_modules/
dist/
tmp/
out-tsc/
.angular/
.cache/
coverage/
dist/template
.angular/cache/19.2.15/template
# IDEs
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.*.local

# OS
.DS_Store
Thumbs.db
