<div class="account-page">
  <div class="main-wrapper">
    <div class="overflow-hidden p-3 acc-vh">
      <div class="row vh-100 w-100 g-0">
        <div class="col-lg-6 vh-100 overflow-y-auto overflow-x-hidden">
          <div class="row">
            <div class="col-md-10 mx-auto">
              <form
                (ngSubmit)="verifyOtp()"
                class="vh-100 d-flex justify-content-between flex-column p-4 pb-0"
              >
                <!-- Logo -->
                <div class="text-center mb-4 auth-logo">
                  <img
                    src="assets/img/largeLogo.png"
                    class="img-fluid"
                    alt="Logo"
                  />
                </div>

                <!-- Verification Box -->
                <div
                  class="digit-group login-form-control"
                  data-group-name="digits"
                  data-autosubmit="false"
                >
                  <div class="mb-4">
                    <h4 class="mb-2 fs-20">Verify Your Email</h4>
                    <p>
                      We sent a verification code to your email
                      <strong>{{ email }}</strong>. Enter the 4-digit code below
                      to verify your account.
                    </p>
                  </div>

                  <!-- OTP Boxes -->
       <div class="d-flex align-items-center justify-content-center gap-3 mb-4">
  <input
    type="text"
    #otpInput
    class="text-center fs-26 fw-bold rounded"
    maxlength="1"
    [(ngModel)]="oneTimePassword.data1"
    (input)="ValueChanged(0, $event)"
    (keydown)="tiggerBackspace(0, $event)"
  />
  <input
    type="text"
    #otpInput
    class="text-center fs-26 fw-bold rounded"
    maxlength="1"
    [(ngModel)]="oneTimePassword.data2"
    (input)="ValueChanged(1, $event)"
    (keydown)="tiggerBackspace(1, $event)"
  />
  <input
    type="text"
    #otpInput
    class="text-center fs-26 fw-bold rounded"
    maxlength="1"
    [(ngModel)]="oneTimePassword.data3"
    (input)="ValueChanged(2, $event)"
    (keydown)="tiggerBackspace(2, $event)"
  />
  <input
    type="text"
    #otpInput
    class="text-center fs-26 fw-bold rounded"
    maxlength="1"
    [(ngModel)]="oneTimePassword.data4"
    (keydown)="tiggerBackspace(3, $event)"
  />
</div>



                  <!-- Timer -->
                  <div class="text-center mb-3">
                    <p class="badge bg-light text-dark">
                      OTP will expire in {{ formattedTime() }}
                    </p>
                  </div>

                  <!-- Submit -->
                  <div class="mb-3">
                    <button
                      type="submit"
                      class="btn btn-primary w-100"
                      [disabled]="loading"
                    >
                      {{ loading ? "Verifying..." : "Verify My Account" }}
                    </button>
                  </div>

                  <p class="text-danger text-center">{{ errorMessage }}</p>
                </div>

                <!-- Footer -->
                <div class="text-center pb-4">
                  <p class="text-dark mb-0">
                    Copyright &copy; {{ currentYear }} - My Planet
                  </p>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div class="col-lg-6 account-bg-06"></div>
      </div>
    </div>
  </div>
</div>
