<header>
    <h1 class="text-white">MY PLANET TECHNOLOGY LIMITED</h1>
    <p>🌟 Empowering Your Journey — New Employee Onboarding Form</p>
</header>

<div class="container my-5">
    <form id="employeeForm">

        <!-- Personal Details -->
        <h4 class="section-title">🧍 Personal Details</h4>
        <div class="row g-3">
            <div class="col-md-6">
                <label class="form-label">Maltese Registration No <span class="text-danger">*</span></label>

                <input type="text" class="form-control" required>
            </div>
            <div class="col-md-6">
                <label class="form-label">Last Name <span class="text-danger">*</span></label>
                <input type="text" class="form-control" required>
            </div>
            <div class="col-md-6">
                <label class="form-label">First Name(s) <span class="text-danger">*</span></label>
                <input type="text" class="form-control" required>
            </div>
            <div class="col-md-6">
                <label class="form-label">Current Nationality <span class="text-danger">*</span></label>

                <mat-select class="custom-mat-select select" placeholder="Select"
                    [formControl]="currentNationalityCtrl">
                    <mat-option>
                        <ngx-mat-select-search [formControl]="currentNationalityCtrl" placeholderLabel="Search country"
                            noEntriesFoundLabel="No countries found">
                        </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let c of filteredCurrentNationality | async" [value]="c.id">
                        {{ c.name }}
                    </mat-option>
                </mat-select>
            </div>
            <div class="col-md-6">
                <label class="form-label">Birth Nationality <span class="text-danger">*</span></label>
                <mat-select class="custom-mat-select select" placeholder="Select" [formControl]="birthNationalityCtrl">
                    <mat-option>
                        <ngx-mat-select-search [formControl]="birthNationalityFilterCtrl"
                            placeholderLabel="Search country" noEntriesFoundLabel="No countries found">
                        </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let c of filteredBirthNationality | async" [value]="c.id">
                        {{ c.name }}
                    </mat-option>
                </mat-select>
            </div>
            <div class="col-md-6">
                <label class="form-label">Country of Birth <span class="text-danger">*</span></label>
                <mat-select class="custom-mat-select select" placeholder="Select" [formControl]="birthCountryCtrl">
                    <mat-option>
                        <ngx-mat-select-search [formControl]="birthCountryFilterCtrl" placeholderLabel="Search country"
                            noEntriesFoundLabel="No countries found">
                        </ngx-mat-select-search> </mat-option>
                    <mat-option *ngFor="let c of filteredBirthCountry | async" [value]="c.id">
                        {{ c.name }}
                    </mat-option>
                </mat-select>
            </div>
            <div class="col-md-6">
                <label class="form-label">Place of Birth <span class="text-danger">*</span></label>
                <input type="text" class="form-control" required>
            </div>
            <div class="col-md-6">
                <label class="form-label">Date of Birth <span class="text-danger">*</span></label>
                <input type="date" class="form-control" required>
            </div>
            <div class="col-md-6">
                <label class="form-label">Gender <span class="text-danger">*</span></label>
                <mat-select class="custom-mat-select select" placeholder="Select">
                    <mat-option value="1">Male</mat-option>
                    <mat-option value="1">Female</mat-option>
                    <mat-option value="1">Other</mat-option>

                </mat-select>
            </div>
            <div class="col-md-6">
                <label class="form-label">Marital Status <span class="text-danger">*</span></label>
                <mat-select class="custom-mat-select select" placeholder="Select">
                    <mat-option value="1">Single</mat-option>
                    <mat-option value="1">Married</mat-option>
                </mat-select>
            </div>
            <div class="col-md-6">
                <label class="form-label">Passport No <span class="text-danger">*</span></label>
                <input type="text" class="form-control" required>
            </div>
            <div class="col-md-6">
                <label class="form-label">Country of Issue <span class="text-danger">*</span></label>
                <input type="text" class="form-control" required>
            </div>
            <div class="col-md-6">
                <label class="form-label">Date of Issue <span class="text-danger">*</span></label>
                <input type="date" class="form-control" required>
            </div>
            <div class="col-md-6">
                <label class="form-label">Valid Until <span class="text-danger">*</span></label>
                <input type="date" class="form-control" required>
            </div>
            <div class="col-md-6">
                <label class="form-label">Currently Residing In <span class="text-danger">*</span></label>
                <input type="text" class="form-control" required>
            </div>
            <div class="col-md-6">
                <label class="form-label">Since <span class="text-danger">*</span></label>
                <input type="date" class="form-control" required>
            </div>
        </div>

        <!-- Address in Malta -->
        <h4 class="section-title">🏠 Address in Malta</h4>
        <div class="row g-3">
            <div class="col-md-6">
                <label class="form-label">Locality <span class="text-danger">*</span></label>
                <input type="text" class="form-control" required>
            </div>
            <div class="col-md-6">
                <label class="form-label">Street <span class="text-danger">*</span></label>
                <input type="text" class="form-control" required>
            </div>
            <div class="col-md-6">
                <label class="form-label">Property Number / Name <span class="text-danger">*</span></label>
                <input type="text" class="form-control" required>
            </div>
            <div class="col-md-6">
                <label class="form-label">Building / Entrance / Staircase / Floor <span
                        class="text-danger">*</span></label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-6">
                <label class="form-label">Post Code <span class="text-danger">*</span></label>
                <input type="text" class="form-control" required>
            </div>
        </div>

        <!-- Permanent Address Abroad -->
        <h4 class="section-title">🌍 Permanent Address Abroad</h4>
        <div class="row g-3">
            <div class="col-md-6">
                <label class="form-label">Door No <span class="text-danger">*</span></label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-6">
                <label class="form-label">Street <span class="text-danger">*</span></label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-6">
                <label class="form-label">Locality <span class="text-danger">*</span></label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-6">
                <label class="form-label">Post Code <span class="text-danger">*</span></label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-6">
                <label class="form-label">Country <span class="text-danger">*</span></label>
                <mat-select class="custom-mat-select select" placeholder="Select">
                    <mat-option value="1">Choose</mat-option>
                    <mat-option value="1">Germany</mat-option>
                    <mat-option value="1">USA</mat-option>
                    <mat-option value="1">Canada</mat-option>
                    <mat-option value="1">India</mat-option>
                    <mat-option value="1">China</mat-option>
                </mat-select>
            </div>
        </div>

        <!-- Upload Documents -->
        <label class="form-label">Additional Documents</label>
        <h4 class="section-title">📎 Upload Documents <span class="text-danger">*</span></h4>
        <div class="row g-3">


            <div class="col-md-12">
                <label class="form-label">Passport Scanned <span class="text-danger">*</span></label>
                <div class="d-flex align-items-center mb-3">
                    <div class="avatar avatar-xxl border border-dashed me-3 flex-shrink-0">
                        <div class="position-relative d-flex align-items-center">
                            <i class="ti ti-photo text-dark fs-16"></i>
                        </div>
                    </div>
                    <div class="d-inline-flex flex-column align-items-start">
                        <div class="drag-upload-btn btn btn-sm btn-primary position-relative mb-2">
                            <i class="ti ti-file-broken me-1"></i>Upload file
                            <input type="file" class="form-control image-sign" multiple="">
                        </div>
                        <span>JPG, GIF or PNG. Max size of 800K</span>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <label class="form-label">Residence ID Card <span class="text-danger">*</span></label>
                <div class="d-flex align-items-center mb-3">
                    <div class="avatar avatar-xxl border border-dashed me-3 flex-shrink-0">
                        <div class="position-relative d-flex align-items-center">
                            <i class="ti ti-photo text-dark fs-16"></i>
                        </div>
                    </div>
                    <div class="d-inline-flex flex-column align-items-start">
                        <div class="drag-upload-btn btn btn-sm btn-primary position-relative mb-2">
                            <i class="ti ti-file-broken me-1"></i>Upload file
                            <input type="file" class="form-control image-sign" multiple="">
                        </div>
                        <span>JPG, GIF or PNG. Max size of 800K</span>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <label class="form-label">Driving License <span class="text-danger">*</span></label>
                <div class="d-flex align-items-center mb-3">
                    <div class="avatar avatar-xxl border border-dashed me-3 flex-shrink-0">
                        <div class="position-relative d-flex align-items-center">
                            <i class="ti ti-photo text-dark fs-16"></i>
                        </div>
                    </div>
                    <div class="d-inline-flex flex-column align-items-start">
                        <div class="drag-upload-btn btn btn-sm btn-primary position-relative mb-2">
                            <i class="ti ti-file-broken me-1"></i>Upload file
                            <input type="file" class="form-control image-sign" multiple="">
                        </div>
                        <span>JPG, GIF or PNG. Max size of 800K</span>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <label class="form-label">Curriculum Vitae (CV) <span class="text-danger">*</span></label>
                <div class="d-flex align-items-center mb-3">
                    <div class="avatar avatar-xxl border border-dashed me-3 flex-shrink-0">
                        <div class="position-relative d-flex align-items-center">
                            <i class="ti ti-photo text-dark fs-16"></i>
                        </div>
                    </div>
                    <div class="d-inline-flex flex-column align-items-start">
                        <div class="drag-upload-btn btn btn-sm btn-primary position-relative mb-2">
                            <i class="ti ti-file-broken me-1"></i>Upload file
                            <input type="file" class="form-control image-sign" multiple="">
                        </div>
                        <span>JPG, GIF or PNG. Max size of 800K</span>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <label class="form-label">Additional Documents <span class="text-danger">*</span></label>
                <div class="d-flex align-items-center mb-3">
                    <div class="avatar avatar-xxl border border-dashed me-3 flex-shrink-0">
                        <div class="position-relative d-flex align-items-center">
                            <i class="ti ti-photo text-dark fs-16"></i>
                        </div>
                    </div>
                    <div class="d-inline-flex flex-column align-items-start">
                        <div class="drag-upload-btn btn btn-sm btn-primary position-relative mb-2">
                            <i class="ti ti-file-broken me-1"></i>Upload file
                            <input type="file" class="form-control image-sign" multiple="">
                        </div>
                        <span>JPG, GIF or PNG. Max size of 800K</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-4">
            <button type="submit" class="btn btn-custom px-4">Submit</button>
            <div id="formMessage" class="alert mt-3 message" role="alert"></div>
        </div>
    </form>
</div>