<div class="account-page">

    <!-- Main Wrapper -->
    <div class="main-wrapper">

        <div class="overflow-hidden p-3 acc-vh">

            <!-- start row -->
            <div class="row vh-100 w-100 g-0">

                <div class="col-lg-6 vh-100  overflow-y-auto overflow-x-hidden">

                    <!-- start row -->
                    <div class="row">

                        <div class="col-md-10 mx-auto">
                            <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()"
                                class=" vh-100 d-flex justify-content-between flex-column p-4 pb-0">
                                <div class="text-center mb-3 auth-logo">
                                    <img src="assets/img/largeLogo.png" class="img-fluid" alt="Logo">
                                </div>
                                <div>
                                    <div class="mb-3">
                                        <h3 class="mb-2">Forgot Password?</h3>
                                        <p class="mb-0">If you forgot your password, don’t worry! We’ll email you
                                            instructions to reset it.</p>
                                    </div>
                                    <div class="mb-3">
                                        <label for="email" class="form-label">Email Address</label>
                                        <div class="input-group input-group-flat">
                                            <input type="email" formControlName="email" name="email" id="email" class="form-control"
                                                placeholder="you@example.com" autocomplete="email">
                                            <span class="input-group-text">
                                                <i class="ti ti-mail"></i>
                                            </span>
                                        </div>

                                    </div>

                                    <div class="mb-3">
                                        <button type="submit" class="btn btn-primary w-100"
                                            [disabled]="forgotForm.invalid">Submit</button>
                                    </div>
                                    <div class="mb-3 text-center">
                                        <p class="mb-0">Return to <a [routerLink]="routes.login"
                                                class="link-indigo fw-bold link-hover"> Login</a></p>
                                    </div>
                                </div>
                                <div class="text-center pb-4">
                                    <p class="text-dark mb-0">Copyright &copy; {{ currentYear }} - My Planet</p>
                                </div>
                            </form>
                        </div> <!-- end col -->

                    </div>
                    <!-- end row -->

                </div>

                <div class="col-lg-6 d-none d-lg-block account-bg-03"></div> <!-- end col -->

            </div>
            <!-- end row -->

        </div>

    </div>
    <!-- End Wrapper -->



</div>


<div #appSubmittedCanvas id="appSubmittedCanvas" class="offcanvas off-canvas-custom  offcanvas-small" tabindex="-1"
    aria-labelledby="appSubmittedLabel" aria-hidden="true">
    <div class="offcanvas-header border-bottom">
        <h5 id="appSubmittedLabel" class="fw-semibold">Thank You!</h5>
        <button type="button"
            class="btn-close custom-btn-close border p-1 d-flex align-items-center justify-content-center rounded-circle"
            aria-label="Close" (click)="closeOtpModal()">
            <i class="ti ti-x"></i>
        </button>
    </div>
    <div class="offcanvas-body">
        <form [formGroup]="resetForm" (ngSubmit)="onResetSubmit()">
            <div class="mb-3">
                <label for="email1">Email</label>
                <input type="email" name="email1" id="email1" class="form-control" readonly>
            </div>
            <div class="mb-3">
                <label for="OTP">OTP</label>
                <input type="text" name="OTP" id="OTP" formControlName="otp" class="form-control">
            </div>
            <div class="mb-3">
                <label for="newPassword">New Password</label>
                <input type="password" formControlName="newPassword" name="newPassword" id="newPassword" class="form-control">
            </div>
            <button type="submit" class="btn btn-success w-100" [disabled]="resetForm.invalid">
                Reset Password
            </button>
        </form>
    </div>
</div>