#deleteUserCanvas.offcanvas-small {
  right: auto !important;
  bottom: auto !important;
  position: fixed;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;

  --bs-offcanvas-width: 320px;
  width: var(--bs-offcanvas-width);
  max-width: 90%;
  height: auto;
  max-height: 90vh;
  overflow-y: auto;
}

#deleteUserCanvas.show ~ .offcanvas-backdrop {
  position: fixed;
}

.off-canvas-custom {
  border: 0px solid transparent;
  border-radius: 10px;
}
a {
  cursor: pointer !important;
}

::ng-deep .reportrange-picker .reportrange-picker-field {
  width: 150px !important;
}

table.dataTable tbody tr.isDeleted td {
  background-color: rgb(243, 191, 191) !important;
}

.cursor-pointer {
  cursor: pointer !important;
}
