::ng-deep .reportrange-picker .reportrange-picker-field {
  width: 145px !important;
}

//   :host
//   ::ng-deep
//   .mat-mdc-select.custom-mat-select:not(.mat-mdc-select-empty)
//   > .mat-mdc-select-trigger {
//   border: 2px solid #28a745 !important;
//   border-radius: 4px !important;
// }

:host ::ng-deep .p-inputwrapper.p-select.p-inputwrapper-filled {
  border: 2px solid #28a745 !important;
  border-radius: 4px !important;
}
